<h1 class="text-center text-primary">Sign Up</h1>
<div class="d-flex justify-content-center">
  <%= form_for @user do |u| %>
    <div class="form-group">
      <%= u.label :name, class: 'col col-form-label' %>
      <div class="col">
        <%= u.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= u.label :password, class: 'col col-form-label' %>
      <div class="col">
        <%= u.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="form-row text-center">
      <div class="col-12">
        <%= u.submit 'Sign Up', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>