<h2 class="text-primary text-center">Events List</h2>
  <table class="table table-striped border">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Creator</th>
      <th scope="col"></th>
    </th>
  </thead>
  <tbody>
    <% @events.each do |e| %>
      <tr scope="row">
        <td>
          <%= e.name %>
        </td>
        <td>
          <%= e.description %>
        </td>
        <td>
          <%= e.date %>
        </td>
        <td>
          <%= e.creator_name %>
        </td>
        <td>
          <%= link_to "view", e %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
