<h1>Event</h1>
<div class="container">
  <div class="row">
    <p>Name: <%= @event.name %></p>
  </div>
  <div class="row">
    <p>Description: <%= @event.description %></p>
  </div>
  <div class="row">
    <p>Date: <%= @event.date %></p>
  </div>
  <div class="row">
    <p>Creator: <%= @event.creator.name %></p>
  </div>
</div>

<h2>Attendees</h2>
  <% @attendees.each do |a| %>
    <p><%= a.name %></p>
  <% end %>
</p>